<form class="mb-4" (ngSubmit)="logMood()">
  <p>How are u feeling now? (Log mood status daily and track your progress with below chart)</p>
  <div class="row">
    <div class="col-md-4">
      <select
        class="form-select"
        required
        [(ngModel)]="moodData.mood"
        name="mood"
      >
        <option value="" disabled>Select your mood</option>
        <option *ngFor="let mood of moods" [value]="mood">{{ mood }}</option>
      </select>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Add notes (optional)"
        [(ngModel)]="moodData.notes"
        name="notes"
      />
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-outline-primary w-100">Log Mood</button>
    </div>
  </div>
</form>

<div class="card mb-4 w-xs-50">
  <div class="card-body">
    <canvas id="moodChart"></canvas>
  </div>
</div>
