<div id="header">
  <h1 (click)="redirectToHome()">Calm Circle</h1>
  <div class="auth-links">
    <a (click)="logout()">Logout</a>
  </div>
</div>

<div class="border mx-4">
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    [destroyOnHide]="false"
    class="nav-tabs text-center"
  >
    <li [ngbNavItem]="1" [destroyOnHide]="true">
      <button ngbNavLink>Log Mood</button>
      <ng-template ngbNavContent>
        <ngb-alert [dismissible]="false" class="d-block mt-3" type="danger">
          This tab content DOM will de destroyed when not active
        </ngb-alert>

        <app-mood-log></app-mood-log>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" [destroyOnHide]="true">
      <button ngbNavLink>Journal</button>
      <ng-template ngbNavContent>
        <ngb-alert [dismissible]="false" class="d-block mt-3" type="danger">
          This tab content DOM will de destroyed when not active
        </ngb-alert>

        <p>
          Raw denim you probably haven't heard of them jean shorts Austin.
          Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
          cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
          butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
          qui irure terry richardson ex squid. Aliquip placeat salvia cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher
          voluptate nisi qui.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" [destroyOnHide]="true">
      <button ngbNavLink>One</button>
      <ng-template ngbNavContent>
        <ngb-alert [dismissible]="false" class="d-block mt-3" type="danger">
          This tab content DOM will de destroyed when not active
        </ngb-alert>

        <p>
          Raw denim you probably haven't heard of them jean shorts Austin.
          Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
          cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
          butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
          qui irure terry richardson ex squid. Aliquip placeat salvia cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher
          voluptate nisi qui.
        </p>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
