<div id="header">
  <h1 (click)="redirectToHome()" class="ms-3 mt-1">Calm Circle</h1>
  <div class="auth-links">
    <a (click)="logout()">Logout</a>
  </div>
</div>

<div>
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    [destroyOnHide]="false"
    class="text-center justify-content-center nav-tabs fs-5"
    style="background-color: #f5f5dc"
  >
    <li [ngbNavItem]="1" [destroyOnHide]="true">
      <button ngbNavLink class="mx-3">Track Mood</button>
      <ng-template ngbNavContent>
        <div class="px-5 container">
          <app-mood-log></app-mood-log>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" [destroyOnHide]="true">
      <button ngbNavLink class="mx-3">Resources</button>
      <ng-template ngbNavContent>
        <div class="px-5 container">
          <app-resources></app-resources>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" [destroyOnHide]="true">
      <button ngbNavLink class="mx-3">Mindfulness Exercises</button>
      <ng-template ngbNavContent>
        <div class="px-5 container">
          <app-exercise></app-exercise>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
